body {

    font-family: 'Verdana', sans-serif;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1064px;
    margin: 0 auto;
}

header {
    padding-top: 49px;
}

.logo_milan {
    display: inline-block;
    padding-left: 15px;
}

.logo {
    float: left;

}

.link_milan {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
}

.link_holiday {
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
    padding-top: 2px;
}

.contacts {
    display: inline-block;
    text-align: right;
    float: right;
    padding-top: 4px;
}

.e-mail {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;

}

.phone_number {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;

}

.foto_img {
    display: inline-block;
    padding-right: 68px;
    padding-bottom: 58px;
    position: relative;


}

.foto_img:nth-child(3),
.foto_img:nth-child(6) {
    float: right;
    padding-right: 0px;
}

.pictures {
    clear: both;
    margin-top: 48px;
}

.text_under_foto {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding-top: 22px;
}

.footer_text {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 20px;
}

.center {
    text-align: center;
}

.orange:hover {
    color: #f26522;

}

.orange_box {
    width: 308px;
    height: 63px;
    background-color: #f26522;
    position: absolute;
    bottom: 102px;
    display: none;
}

.foto_img:hover .orange_box {
    display: block;
}

.from {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 16px;
    padding-left: 21px;
}

.fifty {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    float: left;
    padding-left: 21px;
}

.box_text {

    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 185px;
}

.box_text::after {
    content: url(../img/Arrow.png);
    padding-left: 15px;
}

.text_under_foto:hover {
    color: #f26522;
}
